spring:
  application:
    name: flashcards
  datasource:
    url: jdbc:h2:mem:flashcards;DATABASE_TO_UPPER=false
    driverClassname: org.h2.Driver
    username: sa
    password: password
  sql:
    init:   
      mode: always
  h2:
    console:
      enabled: true
      